[Unit]
Description=joe_x11_vnc
After=network.target syslog.target
Requires=network.target

[Service]
Type=simple
User=joe
Group=joe
WorkingDirectory=/home/joe
ExecStart=/home/joe/start_x11vnc.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
